include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.first
          .container.first__container
            header.first__header
              .first__logo
                .logo BT
              .first__menu  
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки','Работы','Отзывы','Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .first__links
                - var icons = ['insta','vk','github']
                ul.socials  
                  each item in icons
                    li.socials__item
                      a(href="").socials__link  
                        +icon(`${item}`, 'socials__icon')  
            .first__content
              .user-info 
                .user-info__desc Личный сайт веб разработчика
                h1.user-info__username Виктория Терлецкая
            .first__btns
              .scroll-down Скролл
              +icon('scroll','scroll-down-btn')
        section.about
          .container.about__container
            .about__left
              .user
                .avatar
                  +image('content/userfiles/me.jpg','avatar__pic')
                ul.user__desc
                  -
                    var items = [
                      ['Проживаю:', 'Санкт-Петербург'],
                      ['Возраст:', '25 лет'],
                      ['Питомец:', 'Рыжий кот'],
                    ]
                  each item in items
                    li.user__desc-item
                      .user__key #{item[0]}
                      .user__value #{item[1]}


            .about__right
              h4.about__prolog Привет, меня зовут
              h2.about__title Виктория Терлецкая
              p.about__text Я занимаюсь разработкой современных сайтов. Мне нравится делать интересные и современные проекты.
              p.about__ps Этот сайт был сделан в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент, а пока посмотрите как тут красиво и круто!
        section.skills
          .skills__picture
            +image('content/background/hands.png', 'skills__img')
          .container.skills__container
            .skills__block
              .skills__title 
                h2.section-title Чем я могу быть полезен вам
                .skills__desc
                  p Этот сайт был сделан в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент, а пока посмотрите как тут красиво и круто!
              ul.user-skills
                -
                  var skills = [
                    ['Front-end', ['HTML5', 'CSS', 'JavaScript', 'Jquery, Vue']],
                    ['Workflow', ['Git', 'Terminal', 'Gulp', 'Webpack']],
                  ]
                each item in skills
                  li.user-skills__item.skills-row
                    h3.skills-row__title #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                              circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                              circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--above
                              text(x="30%" y="50%" style ).skill__title #{skill}
        section.works
          .container.container__works
            h2.section-title.section-title--works Мои Работы
            .works__content
              .works__left
                .slider
                  +image('content/slider/slide1_big.jpg', 'slider__fullpic')
                  .slider__preview
                    ul.previews__list
                      - for (var i=0; i<3; i++)
                        li.previews__item
                          img().previews__pic
                  .slider__buttons
                      button.slider__btn.slider__btn--prev
                      button.slider__btn.slider__btn--next

              .works__right
                .works__tags
                  - var tags = ['html', 'css', 'javascript']
                    ul.tags__list
                      each tag in tags
                        li.tags__item #{tag}
                .works__text
                  h3.works__title Сайт школы образования
                  .works__desc
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                  a.icon-link
                    +icon('link', 'icon-link__svg')
                    .icon-link__text Посмотреть сайт
        section.feedback-contact
          .feedback-contact__picture
            +image('content/design/leafs.png', 'feedback-contact__img')
          .container.container__feedback-contact
            .feedback__slider
              .feedback__title-nav
                h2.feedback-title Что обо мне говорят   
                .feedback__nav
                  .feedback__btn-left
                  .feedback__btn-right  
              ul.feedback__slide

                li.feedback__slide-first
                  .feedback__slide-text
                    p Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .feedback__slide-person
                    .feedback__slide-pic
                      +image('content/userfiles/dima.png', 'feedback__slide-img')
                    .feedback__slide-who
                      .feedback__slide-name Ковальчук Дмитрий
                      .feedback__slide-position Основатель LoftSchool 

                li.feedback__slide-second
                  .feedback__slide-text
                    p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
                  .feedback__slide-person
                    .feedback__slide-pic
                      +image('content/userfiles/vova.png', 'feedback__slide-img')
                    .feedback__slide-who
                      .feedback__slide-name Владимир Сабанцев
                      .feedback__slide-position Преподаватель 
            .contacts__form
              h2.contacts__form-title Связаться со мной
              form(action="" method="method").form
                .form__row
                  .form__label-input
                    label.form__label
                      .form__label-title Введите ваше имя
                      input(type="text").form__input
                      .form__input-custom
                  .form__label-input
                    label.form__label
                      .form__label-title Введите ваш email
                      input(type="text").form__input
                      .form__input-custom
                .form__row
                  .form__label-input
                    label.form__label
                      .form__label-title Сообщение к письму
                      textarea(name="", cols="30", rows="10").form__textarea
                      .form__input-custom.form__textarea-custom
                .form__button
                  button.form__btn Отправить    
        footer.footer
          .container.footer__container
            .footer__copyright
              .footer__copy C 2019
              .footer__copy-name
                h3.footer__name Виктория Терлецкая
                h4.footer__syte Личный сайт веб-разработчика
            .footer__block
              .footer__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки','Работы','Отзывы','Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .footer__text
                .footer__text-left
                  .footer__loftschool
                    p Этот сайт я сделала в рамках обучения в Школе онлайн образования loftschool 
                  .footer__socials
                    .footer__links
                      - var icons = ['insta','vk','github']
                      ul.socials  
                        each item in icons
                          li.socials__item
                            a(href="").socials__link  
                              +icon(`${item}`, 'socials__icon')  
                .footer__text-right
                  .footer__quote 
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который щнает где вы живете
                  .footer__author Martin Golding

                    



            




        



